/* Title.css */

.title{
    text-align:center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30 px;
}

.title h2{
    font-size:32px;
    color: #124883;
    margin-top: 5px;
    text-transform: none;
}