nav {
    width: 100%;
    height: 80px;
    background-color: #124883;
    color: #ffffff;
    padding: 4x 0;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
}
/* Style the logo image */
.nav-logo {
    height: 80px; /* Set the height (adjust as necessary) */
    width: auto; /* Maintain aspect ratio */
    padding: 5px; /* Space around the logo */
}
/* Ensure the logo is responsive */
@media (max-width: 768px) {
    .navbar-logo {
      height: 30px; /* Adjust logo size for smaller screens */
    }
}
img{
    width: 5%
}
a{
    text-decoration:none;
    color:inherit;
    line-height: 1;
    cursor: pointer;
}
nav ul li{
    display:inline-block;
    padding: 10px;
    list-style:none;
    margin:5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #124883;
    transition: .5s;
}

/* Add styles for the search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Adjust based on your layout */
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-right: none; /* Remove the right border to avoid overlap */
    border-radius: 30px 0 0 30px; /* Rounded on the left side */
    font-size: 16px;
}

.search-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-left: none; /* Remove the left border to avoid overlap */
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 30px 30px 0; /* Rounded on the right side */
}
