.search-results-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}


.results-container {
  display: flex;
  flex-grow: 1;
  padding: 0 1rem 2rem;
  margin: auto;
  max-width: 70rem;
  min-width: 65rem;
  overflow: hidden;
}


.results-title {
  justify-self: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  
}


.results-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-height: 90vh; /* Constrain height */
  width: 31%;
  background-color: #e0e0e0;
  border-radius: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
  align-items: stretch;
  overflow-y: auto; /* Only vertical scrollbar */
  box-sizing: border-box;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
}

.results-list-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 15px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  width: calc(100% + 17px); /* Adjust the pixel value based on your scrollbar width */
  margin-right: -17px;
}

.results-list-inner::-webkit-scrollbar {
  width: 8px;
}

.results-list-inner::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.results-list-inner::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.results-list-inner::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}


.deck-name {
  font-size: 20px;
  font-weight: 350; 
  margin-bottom: 15px;
}


.deck-info {
  font-size: 14px;
  font-weight: 300;
}


.deck-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 10px;
  font-size: 0.9em;
  border-radius: 30px;
  width: 69%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
}

.deck-details-inner {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  padding-right: 20px;
  overflow-y: auto;
  font-size: 0.9em;
  box-sizing: border-box;
  width: calc(100% + 17px);
  margin-right: -17px;
}

.deck-details-inner::-webkit-scrollbar {
  width: 8px;
}

.deck-details-inner::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.deck-details-inner::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.deck-details-inner::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}


.no-results {
  text-align: center;
  font-size: 1.2em;
  color: #777;
}


.deck-quiz {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;

}


.result-deck-item {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
  display: grid;
  gap: 20px;

}

.result-deck-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.deck-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.result-flashcard-content {
  padding: 10px;
  background-color: #f9f9f9;
}


.flashcard-question {
  font-size: 1rem;
  font-weight: bolder;
}



.filter-bar {
  display: flex;
  justify-content: center;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  padding: 20px;
  max-height: 5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.filter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background-color: #124883;
  color: white;
}

.filter-button.active {
  background-color: #124883;
  color: white;
}