.sidebar{
    width: 180px;
    background: #49454;
    position: relative;
    padding:0 5px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    font-weight: bold; /* Make the text bold */

}
body{
    box-sizing: border-box;
}


ul li 
{
    list-style-type: none;
}

ul li a {
    font-size: 16px;
    display: block;
    padding: 24px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease; 

}

ul li a:hover{
background-color: #2E5A88;
transform: scale(1.05); /* Add a slight scaling effect */

}

.logo {
    width: 65%; /* Adjust the width of the logo */
    height: auto;
    margin: 10px 0; /* Add some spacing around the logo */
}

.sidebar-logo-container {
    display: flex; /* Add flexbox to the container */
    align-items: center; /* Center the logo vertically */
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 10px; /* Space between the logo and the menu items */
}

ul li a svg{
    margin-right : 10px; 
    width: 20px;

}